# Ignore the Firebase service account JSON file
crm-project-eb2d8-firebase-adminsdk-ppqq9-89298d2e78.json

# Ignore virtual environment directories
.venv/
venv/

# Ignore macOS system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore logs
*.log

# Ignore other temporary files and directories
*.tmp
*.temp
*.swp
